# Created by .ignore support plugin (hsz.mobi)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/resolution-cache/
target/streams/
target/scala-2.12/classes
target/scala-2.12/resource_managed
target/scala-2.12/src_managed

lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
### Scala template
*.class
*.log
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/main/resources/settings.properties
/src/main/resources/twitter4j.properties
/project/build.properties
project/project/
src/main/resources/
src/main/scala-2.12/
src/test/
